<div class="container">
    <h2 class="foodHeader">Cakes</h2>
    <h5 class="quantity">(Price per Cake)</h5>
    <div class="row">
        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/cheescake.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Cheesecake
                        <i class="material-icons right">more_vert</i>

                        <p>$20</p>

                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Cheesecake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This cheesecake is the bomb dot com. Believe me</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/choccake.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Chocolate Cake
                        <i class="material-icons right">more_vert</i>
                        <p>$25</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Cake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This cake has the most chocolate of any cake in the world</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="images/vanilla.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Vanilla Cake
                        <i class="material-icons right">more_vert</i>
                        <p>$20</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Vanilla Cake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Mmm this cake is very vanilla. Try it out!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/velvet.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Red Velvet Cake
                        <i class="material-icons right">more_vert</i>
                        <p>$2</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Red Velvet Cake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Red velvet cake for the masses. Don't even trip you know its good.</p>
                </div>
            </div>
        </div>

        <div class="col m4 s6">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/shortcake.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Strawberry Shortcake
                        <i class="material-icons right">more_vert</i>
                        <p>$4</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Strawberry Shortcake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Strawberry cake that is very short. </p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/carrot.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Carrot Cake
                        <i class="material-icons right">more_vert</i>
                        <p>$18</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Carrot Cake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>What? I thought carrots were vegetables. Whatever we made a cake out of it.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
        <div class="parallax"><img id="parralaxImage" src="images/bakery.jpg"></div>
</div>