<div class="container">
    <h2 class="foodHeader">Cookies</h2>
    <h5 class="quantity">(Price per Dozen)</h5>
    <div class="row">
        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/snick.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Snickerdoodle
                        <i class="material-icons right">more_vert</i>

                        <p>$15</p>

                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Snickerdoodle
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This is the best snickerdoodle ever. Believe me</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/peanut.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Peanut Butter
                        <i class="material-icons right">more_vert</i>
                        <p>$15</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Peanut Butter
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This is a peanut butter chocolate chip cookie</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="images/whitechoc.jpeg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">White Chocolate
                        <i class="material-icons right">more_vert</i>
                        <p>$10</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">White Chocolate
                        <i class="material-icons right">close</i>
                    </span>
                    <p>White Chocolate cookie yo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/mm.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">M&M
                        <i class="material-icons right">more_vert</i>
                        <p>$15</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">M&M
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This is a cookie covered in m&m's bro. It's the real deal.</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/caramel.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Caramel
                        <i class="material-icons right">more_vert</i>
                        <p>$10</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Caramel
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Ooey gooey goodness. These really make my knees buckle.</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/oatmeal.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Oatmeal
                        <i class="material-icons right">more_vert</i>
                        <p>$15</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Oatmeal
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Oatmeal raisin cookies. Have at it</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="parallax-container">
    <div class="parallax">
        <img id="parralaxImage" src="images/multi.jpg">
    </div>
</div>