<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="main.css" type="text/css">

  <title>Friendly Bakery</title>
</head>

<body>
  <nav>
    
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img id="logo" src="images/cupcake.png"></a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class="btn" href="/">Home</a>
        </li>
        <li>
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Products</a>
      </ul>
      <h3 id="top"class="hide-on-med-and-down">MingKinhal's Delights</h3>
    </div>
  </nav>
  <main>


    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li>
        <a href="/cakes">Cakes</a>
      </li>
      <li>
        <a href="/muffins">Muffins</a>
      </li>
      <li class="divider" tabindex="-1"></li>
      <li>
        <a href="/cookies">Cookies</a>
      </li>

    </ul>


    <%= yield %>
  </main>
  <footer class="page-footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="white-text">Call us: 911<br>Email us: Orlando@nycda.com</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Friendly Bakery
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="./js/main.js"></script>

</body>

</html>