<div class="container">
    <h2 class="foodHeader">Muffins</h2>
    <h5 class="quantity">(Price per Dozen)</h5>
    <div class="row">
        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/blue.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Blueberry
                        <i class="material-icons right">more_vert</i>

                        <p>$15</p>

                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Blueberry
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This is a blueberry muffin. Not much to say here</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/coffee.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Coffee Cake
                        <i class="material-icons right">more_vert</i>
                        <p>$20</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Coffee Cake
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Crumbly perfection. This muffin will surely knock your socks off</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="images/chocmuff.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Chocolate Chip
                        <i class="material-icons right">more_vert</i>
                        <p>$15</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Chip
                        <i class="material-icons right">close</i>
                    </span>
                    <p>Chocolate chips all over. Simple perfection.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/bran.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Bran Muffin
                        <i class="material-icons right">more_vert</i>
                        <p>$20</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Bran Muffin
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This is a terrible muffin. No flavor. Look elsewhere.</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/double.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Double Chocolate
                        <i class="material-icons right">more_vert</i>
                        <p>$20</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Double Chocolate
                        <i class="material-icons right">close</i>
                    </span>
                    <p>You like chocolate? Eat this muffin.</p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/cranberry.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Cranberry
                        <i class="material-icons right">more_vert</i>
                        <p>$15</p>
                    </span>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Cranberry
                        <i class="material-icons right">close</i>
                    </span>
                    <p>This is a cranberry muffin. It's alright.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
        <div class="parallax"><img id="parralaxImage" src="images/muffins.jpg"></div>
</div>